@import "./styleService";
.league-container {
  @include container(100%, row, 0px);
  justify-content: center;

  .btn {
    @include btn-click;
  }
  .btn-chose {
    @include btn-click;
    background-color: #4d604e;
    border-bottom: 5px solid rgb(32, 36, 69);
  }
}
.loading {
  @include container;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  @include loading-animation;
}
